<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tourist Destinations</title>
  <link rel="stylesheet" href="styles.css">
  <!-- Add the reference to rdflib.min.js -->
  <script src="dist/rdflib.min.js"></script>
</head>
<body>
<header>
  <h1>Туристички дестинации</h1>
</header>
<main>
  <section id="rdf-display">
    <!-- RDF data will be displayed here -->
  </section>
</main>
<script src="scripts.js"></script>
</body>
</html>
